@import "tailwindcss";

@theme {
  --color-red-*: initial;
  --color-green-*: initial;
  --color-neutral-*: initial;
  --color-blue-*: initial;
  --text-preset-*: initial;
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f5f7fa;
  --color-neutral-100: #f3f5f8;
  --color-neutral-200: #e0e4ea;
  --color-neutral-300: #cacfdb;
  --color-neutral-400: #99a0ae;
  --color-neutral-500: #7177b4;
  --color-neutral-700: #2b303b;
  --color-neutral-800: #232530;
  --color-neutral-900: #191b25;
  --color-neutral-950: #0e121b;
  --color-blue-50: #ebf1ff;
  --color-blue-500: #335cff;
  --color-blue-700: #2547d0;
  --color-green-100: #d1fbe9;
  --color-green-500: #21c16b;
  --color-red-100: #ffd5db;
  --color-red-500: #fb3748;

  --text-preset-1: 1.5rem;
  --text-preset-1--line-height: 1.2;
  --text-preset-1--letter-spacing: -0.5px;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 1.25rem;
  --text-preset-2--line-height: 1.2;
  --text-preset-2--letter-spacing: -0.5px;
  --text-preset-1--font-weight: 700;

  --text-preset-3: 1rem;
  --text-preset-3--line-height: 1.2;
  --text-preset-3--letter-spacing: -0.3px;
  --text-preset-3--font-weight: 600;

  --text-preset-4: 0.875rem;
  --text-preset-4--line-height: 1.2;
  --text-preset-4--letter-spacing: -0.2px;
  --text-preset-4--font-weight: 500;

  --text-preset-5: 0.875rem;
  --text-preset-5--line-height: 1.2;
  --text-preset-5--letter-spacing: -0.2px;
  --text-preset-5--font-weight: 400;

  --text-preset-6: 0.75rem;
  --text-preset-6--line-height: 1.2;
  --text-preset-6--letter-spacing: -0.2px;
  --text-preset-6--font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
